<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>random ejs file</title>
</head>
<body>
    <h1>random ejs file G24</h1>
    <% for( let index = 0; index < fruits.length; index++ ) { %>
               <%=fruits[index]  %>
    <% } %>

    <h1><%= URL %></h1>
    <h1><%= student.city %></h1>
</body>
</html>