<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>G24 is a bad batch</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam eveniet dolorem officiis inventore quod laboriosam incidunt veniam sequi corrupti odio!</p>
</body>
</html>